<%- include('partials/header.ejs'); %>
<h1>Uk Inventory Suggestions.</h1>
<h3>Step 1: Upload USA Inventory CSV File</h3>
<br>
<br>
<form action="/upload" enctype="multipart/form-data" method="post" class="ui form">
  <div class="ui action input field">
    <input type="text" placeholder="USA Inventory" readonly>
    <input id="file" type="file" name="upload" accept=".csv" onchange="ValidateSingleInput(this);">
    <div class="ui icon button">
      <i class="us flag"></i>
    </div>
  </div>
  <br>
  <button class="ui button" type="submit" hidden>
    Upload US Inventory
  </button>
</form>
<br>
<a href="./inventory2">Visit Previous Upload</a>

<script>
  $("input:text").click(function () {
    $(this).parent().find("input:file").click();
  });

  $('input:file', '.ui.action.input')
    .on('change', function (e) {
      var name = e.target.files[0].name;
      $('input:text', $(e.target).parent()).val(name);
    });
  var _validFileExtensions = [".csv"];
  function ValidateSingleInput(oInput) {
    if (oInput.type == "file") {
      var sFileName = oInput.value;
      if (sFileName.length > 0) {
        var blnValid = false;
        for (var j = 0; j < _validFileExtensions.length; j++) {
          var sCurExtension = _validFileExtensions[j];
          if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
            blnValid = true;
            break;
          }
        }

        if (!blnValid) {
          alert("Sorry, " + sFileName + " is invalid, the only allowed file types are in CSV format.  Please upload a CSV inventory export file from Shopify.");
          oInput.value = "";
          return false;
        }
      }
    }
    return true;
  }
</script>

<%- include('partials/footer.ejs'); %>